{% extends 'soniferous/base-page.html' %}

{% block body %}
<main id="site-login">
  <h1>Soniferous</h1>

  {% if form.errors %}
  <p>Invalid username and password combination.</p>
  {% endif %}

  <form method="post" action="{% url 'soniferous:login' %}">
    {% csrf_token %}
    <input id="id_username" placeholder="Username" maxlength="254" name="username" type="text"> 
    <input id="id_password" placeholder="Password" name="password" type="password">
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="submit" value="Login" />
  </form>
</main>

{% endblock body %}
