{% extends 'soniferous/base-page.html' %}
{% block body %}
{% include 'soniferous/menu-bar.html' %}
<main>
  <div class="form-container">
    <h1>Change Password</h1>
    {% if form.errors %}
    <p class="error-msg">Invalid password combination.</p>
    {% endif %}
    <form method="post" action="{% url 'soniferous:password' %}">
      {% csrf_token %}
      {{ form.old_password.label_tag }} {{ form.old_password }} <br />
      {{ form.new_password1.label_tag }} {{ form.new_password1 }} <br />
      {{ form.new_password2.label_tag }} {{ form.new_password2 }} <br />
      <input type="submit" value="Change Password" />
    </form>
  </div>
</main>
{% endblock body %}
