{% extends 'soniferous/base-page.html' %}
{% load staticfiles %}
{% block javascript %}
<script type="text/javascript" src="{% static 'soniferous/js/lib/zepto-min.js' %}"></script>
<script type="text/javascript" src="{% static 'soniferous/js/lib/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'soniferous/js/lib/backbone-min.js' %}"></script>
<script type="text/javascript" src="{% static 'soniferous/js/models.js' %}"></script>
<script type="text/javascript" src="{% static 'soniferous/js/views.js' %}"></script>
{% endblock javascript %}
{% block body %}
{% include 'soniferous/menu-bar.html' %}

{% autoescape off %}
<script type="text/template" id="artist-template">
  <span><%= artist %></span>
</script>
<script type="text/template" id="album-template">
  <span><%= album %></span>
  <span><%= artist %></span>
</script>
<script type="text/template" id="song-template">
  <span><%= title %></span>
  <span><%= artist %></span>
  <span><%= album %></span>
  <span><%= time %></span>
</script>
{% endautoescape %}

<main class="player">
  <nav id="audio-nav">
    <div id="song-info">
      <span id="current-song"></span>
      <span id="current-album"></span>
      <span id="current-artist"></span>
    </div>
    <div id="audio-controls">
      <audio id="audio-player" preload="none"></audio>
      <input id="search-bar" name="search-field" type="text" />
      <button id="next-button"></button>
      <button id="play-button"></button>
      <button id="previous-button"></button>
    </div>
    <ul id="view-selector">
      <li id="view-songs">Songs</li>
      <li id="view-albums">Albums</li>
      <li id="view-artists">Artists</li>
    </ul>
  </nav>
  <ul id="album-list">
  </ul>
  <ul id="artist-list">
  </ul>
  <ul id="song-list">
  </ul>
</main>

{% endblock body %}
